<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.serious_game_usil">

    <!-- Permisos necesarios -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />


    <application
        android:name=".presentation.ui.main.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SeriousGameUSIL"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31">



        <activity
            android:name=".presentation.ui.splash.PreloaderActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SeriousGameUSIL.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".presentation.ui.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.SeriousGameUSIL.NoActionBar" />

        <!-- Register Activity -->
        <activity
            android:name=".presentation.ui.register.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.SeriousGameUSIL.NoActionBar" />

        <!-- Main Activity -->
        <activity
            android:name=".presentation.ui.main.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SeriousGameUSIL" />



        <activity
            android:name=".presentation.ui.password.OtpVerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.SeriousGameUSIL.NoActionBar" />

        <activity
            android:name=".presentation.ui.password.ResetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.SeriousGameUSIL.NoActionBar" />

        <activity
            android:name=".presentation.ui.password.PasswordResetSuccessActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SeriousGameUSIL.NoActionBar" />

        <!-- Password Change Activities -->
        <activity
            android:name=".presentation.ui.password.ValidateEmailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.SeriousGameUSIL.NoActionBar" />

        <activity
            android:name=".presentation.ui.password.PasswordOTPActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.SeriousGameUSIL.NoActionBar" />

        <activity
            android:name=".presentation.ui.password.NewPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.SeriousGameUSIL.NoActionBar" />

        <activity
            android:name=".guards.UnauthorizedActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SeriousGameUSIL.NoActionBar" />

        <activity
            android:name=".presentation.ui.administrador.DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SeriousGameUSIL.NoActionBar" />

        <activity
            android:name=".presentation.ui.administrador.list.ListUserActivity"
            android:theme="@style/Theme.SeriousGameUSIL.NoActionBar" />

        <activity
            android:name=".presentation.ui.administrador.list.CreateUserActivity"
            android:label="Registrar Usuario"
            android:parentActivityName=".presentation.ui.administrador.list.ListUserActivity"
            android:theme="@style/Theme.SeriousGameUSIL.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.ui.administrador.list.ListUserActivity" />
        </activity>


        <activity
            android:name=".presentation.ui.administrador.list.EditUserActivity"
            android:label="Editar Usuario"
            android:parentActivityName=".presentation.ui.administrador.list.ListUserActivity"
            android:theme="@style/Theme.SeriousGameUSIL.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.ui.administrador.list.ListUserActivity" />
        </activity>

        <activity
            android:name=".presentation.ui.administrador.profile.ProfileActivity"
            android:label="Perfil de Usuario"
            android:parentActivityName=".presentation.ui.administrador.list.ListUserActivity"
            android:theme="@style/Theme.SeriousGameUSIL.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.ui.administrador.list.ListUserActivity" />
        </activity>


        <activity
            android:name=".presentation.ui.administrador.roles.ListRoles"
            android:label="Gestión de Roles"
            android:parentActivityName=".presentation.ui.administrador.roles.ListRoles"
            android:theme="@style/Theme.SeriousGameUSIL.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.ui.administrador.DashboardActivity" />
        </activity>



        <activity
            android:name=".presentation.ui.administrador.roles.CreateRole"
            android:label="Crear Rol"
            android:parentActivityName=".presentation.ui.administrador.roles.CreateRole"
            android:theme="@style/Theme.Serious_game_usil">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.ui.administrador.roles.ListRoles" />
        </activity>

        <activity
            android:name=".presentation.ui.administrador.roles.EditRole"
            android:label="Editar Rol"
            android:parentActivityName=".presentation.ui.administrador.roles.EditRole"
            android:theme="@style/Theme.Serious_game_usil">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.ui.administrador.roles.ListRoles" />
        </activity>

        <activity
            android:name=".presentation.ui.administrador.roles.UserRole"
            android:label="Usuarios por Rol"
            android:parentActivityName=".presentation.ui.administrador.roles.ListRoles"
            android:theme="@style/Theme.Serious_game_usil">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.ui.administrador.roles.ListRoles" />
        </activity>
        
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>